<!doctype html>
<html lang="en-us">
  <head>
    <title>Customer import</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
<!--    <link rel="stylesheet" href="main.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <style>
    .container {
      width: 50%;
      margin-top: 3rem;
    }
    .loader {
      width: 5rem;
      height: 5rem;
      margin:auto;
    }
    li {
      margin-top: 1rem;
    }
  </style>
  </head>
  <body>
  <div id="app">
    <section class="section">
      <div class="container has-text-centered">
        <h1 class="title">Customer import</h1>
          <ul>

            <li>
              <label for="sessionKey">
                Erply session key:
                <input v-model="sessionKey" class="input is-danger" type="text" id="sessionKey" name="sessionKey" placeholder="sessionKey"></label>
            </li>
            <li>
              <label for="customerNumber">
                Erply customer number:
                <input v-model="customerNumber"  class="input is-danger" type="text" id="customerNumber" name="customerNumber" placeholder="customerNumber"></label>
            </li>
            <li>
              <label for="fileinput">
                CSV file:
              </label>

              <input v-if="!loading" class="input is-danger" type="file" id="fileinput" ref="file" v-on:change="handleFileUpload()"/>
              <div v-else class="loader is-loading has-text-centered"></div>
            </li>
            <li>
              <div class="columns">
                <div v-if="payload" class="column">
                  <p>customer's amount: {{payload.length}}</p>
                </div>
                <div v-if="fileError" class="column is-warning">
                  <p>error: {{fileError}}</p>
                </div>
              </div>
            </li>
          </ul>

      </div>
      <div class="container has-text-centered">
        <div class="columns is-multiline is-mobile">

          <div v-for="(row, index) in columns" :key="index" class="column is-2">
            <input v-model="row[2]" type="checkbox">
            <p>{{row[0]}}</p>
          </div>

        </div>

      </div>
      <div class="container has-text-centered">
        <progress class="progress is-danger" :value="min" :max="max"></progress>
        <button v-if="!uploading" v-on:click="upload()" class="button is-danger is-outlined" href="#" id="download">Upload</button>
        <div v-else class="loader is-loading has-text-centered"></div>
        <div><p>new customers added total: {{successTotal}}</p></div>
        <div v-if="uploadSuccesses.length !== 0" v-for="(us, index) in uploadSuccesses" :key="index">
          <ul>
            <li>
              <div class="notification is-success is-light">
                {{us}}
              </div>
            </li>
          </ul>
        </div>
        <div v-if="uploadErrors.length !== 0" v-for="(err, index) in uploadErrors" :key="index">
          <ul>
            <li>
              <div class="notification is-danger is-light">
              {{err}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

  </div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript"></script>
  <script src="https://unpkg.com/papaparse@5.2.0/papaparse.min.js" type="text/javascript"></script>

  <!--  <script src="index.js"></script>-->
<script>
  let v = new Vue({
    el: "#app",
    data: {
      min: 0,
      max: 0,
      successTotal: 0,
      customers: [],
      uploading: false,
      uploadSuccesses: [],
      uploadErrors: [],
      isError: false,
      fileError: null,
      results: null,
      loading: false,
      sessionKey: "",
      customerNumber: "",
      rowNames: {},
      payload: [],
      columns: [
        // CSV file rows : Erply rows : enabled or not
        ['ID','customerID',true],
        ['Name','companyName',true],
        ['First Name','firstName',true],
        ['Last Name','lastName',true],
        ['Bank','bankName',true],
      ],
      headers: {
        'access-control-allow-origin': '*',
        'Content-Type': 'application/x-www-form-urlencoded',
      },
      file:''
    },

    watch: {},
    computed: {

    },
    methods: {
      handleFileUpload(){
        let self = this
        this.loading = true
        Papa.parse(this.$refs.file.files[0], {
          complete: function(results) {
            console.log(results);
            self.loading = false
            self.processFile(results)
          },
          error: function(err, file, inputElem, reason) {
            console.log(err);
            self.loading = false
            self.isError = true
            self.fileError = err
          },
        });
      },
      processFile(results) {
        if (results && results.data) {
          // first el is row headers
          let headers = results.data[0]
          for (let i = 0; i < headers.length; i++) {
            this.rowNames[headers[i]] = i
          }
          this.payload = results.data.slice(1, results.data.length)
        }
      },
      upload() {
        if (!this.payload && !this.rowNames) {
          return
        }
        this.uploadErrors = []
        this.uploadSuccesses = []
        this.max = this.payload.length
        this.min = 0
        this.uploading = true
        let self = this
        let customers = []
        for (let i = 0; i < this.payload.length; i++) {
          let customer = {}
          for (let j = 0; j < this.columns.length; j++) {
            if (!this.columns[j][2]) {
                continue
            }
            let pos = this.rowNames[this.columns[j][0]]
            if (this.payload[i][pos]) {
              customer[this.columns[j][1]] = this.payload[i][pos]
            }
          }
          customers.push(customer)
        }
        this.rateLimitMap(customers, 9, 20, this.createCustomer).then(function(results) {
          // process array of results here
          results.forEach(function(result) {
            self.processResponse(result)
          })
          self.uploading = false

        }, function(err) {
          self.uploadErrors.push(err)
          self.uploading = false
        });

        },
      processResponse: function (response) {
        if (response.status !== 200) {
            this.uploadErrors.push("server HTTP response" + response.status)
        }
        if (response && response.data) {
          if (response.data.status.responseStatus !== 'error') {
            if (response.data.records.length === 0) {
              this.uploadErrors.push("customer was not added")
              return
            }
            let customerId = response.data.records[0].customerID
              if (response.data.records[0].alreadyExists) {
                this.uploadSuccesses.push("customer with ID " + customerId + " already exists")
              } else {
                this.uploadSuccesses.push("customer with ID " + customerId + " was added")
                this.successTotal++
              }
          } else {
            this.uploadErrors.push(response.data.status)
          }
        }
      },
      createCustomer: async function (params) {
        let formData = new FormData();
        formData.append('request', 'saveCustomer')
        formData.append('clientCode', this.customerNumber)
        formData.append('sessionKey', this.sessionKey)
        for ( let key in params ) {
          formData.append(key, params[key]);
        }
        // const proxyurl = "";
        const proxyurl = "https://cors-anywhere.herokuapp.com/";
        let url = proxyurl + 'https://' + this.customerNumber + '.erply.com/api/';
        return axios({
          method: 'post',
          url: url,
          data: formData,
          headers: this.headers
        })
      },
      rateLimitMap: function (array, requestsPerSec, maxInFlight, fn) {
        let self = this;
      return new Promise(function(resolve, reject) {
        var index = 0;
        var inFlightCntr = 0;
        var doneCntr = 0;
        var launchTimes = [];
        var results = new Array(array.length);

        // calculate num requests in last second
        function calcRequestsInLastSecond() {
          var now = Date.now();
          // look backwards in launchTimes to see how many were launched within the last second
          var cnt = 0;
          for (var i = launchTimes.length - 1; i >= 0; i--) {
            if (now - launchTimes[i] < 1000) {
              ++cnt;
            } else {
              break;
            }
          }
          return cnt;
        }

        function runMore() {
          while (index < array.length && inFlightCntr < maxInFlight && calcRequestsInLastSecond() < requestsPerSec) {
            (function(i) {
              ++inFlightCntr;
              launchTimes.push(Date.now());
              fn(array[i]).then(function(val) {
                results[i] = val;
                --inFlightCntr;
                ++doneCntr;
                self.min++
                runMore();
              }, reject);
            })(index);
            ++index;
          }
          // see if we're done
          if (doneCntr === array.length) {
            resolve(results);
          } else if (launchTimes.length >= requestsPerSec) {
            // calc how long we have to wait before sending more
            var delta = 1000 - (Date.now() - launchTimes[launchTimes.length - requestsPerSec]);
            if (delta >= 0) {
              setTimeout(runMore, ++delta);
            }

          }
        }
        runMore();
      });
  }

    },
  });


</script>
</html>
